@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');

@import "tailwindcss";

@theme {
  /* Nos couleurs "Luxe" */
  --color-brand-light: #FAFAFA;
  --color-brand-dark: #1A1A1A;
  --color-brand-primary: #166534;
  --color-brand-accent: #D4AF37;

  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}